<div class="container ">

    <div class="row">
        <div class="col-sm-3">
        </div>

        <div class="col-sm-6">        
            <h3>Edit Events</h3> <br>
        
            <form class="form-horizontal" action="/updateEvent" method="post">
                        <label>Title :</label>
                        <input type="text" class="form-control" id="title" name="title" value={{event.title}}><br>

                        <label  for="description">Description:</label>
                        <input type="text" class="form-control" id="description" name="description" value={{event.description}}><br>

                        <label  for="location">Location:</label>
                        <input type="text" class="form-control" id="location" name="location" value={{event.location}}> <br>

                        <input type="hidden" class="form-control" id="id" name="id" value={{event.id}}>
                        <input type="hidden" class="form-control" id="like" name="like" value={{event.like}}>

                        <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-secondary" name="submit" value="Update Event" />
                        </div>
                        <br>


                        
        </form>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
       
     
  </div>
