<h1>Events Minions</h1>
<br>
<div >
  {{#events}}
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <h2 class="text-primary">{{ title }}</h2>
        <p>{{ description }}</p>
        <p>{{ location}}</p>
        <div class="row">
            <div class="col-sm-2">
                <form action="/like" method="post">
                    <input type="hidden" id="id" name="id" value={{id}}>
                    <span class="fa fa-thumbs-up fa-lg text-info" ><input type="submit" class="btn btn-info"  value="Like"></span>
                    <p class="text-info">{{like}}</p>
                </form>
                
            </div>
            <div class="col-sm-2">
                <form action="/delEvent" method="post">
                    <input type="hidden" id="id" name="id" value={{id}}>
                    <input type="submit" class="btn btn-info "  value="Delete">
                </form>
            </div>
            <div class="col-sm-1">
                <a href="/editEvent" class="btn btn-info ">
                <span class="glyphicon glyphicon-edit"></span> Edit
                </a>
            </div>
            <div class="col-sm-9">
            </div>
        </div>
        
    </div>
  {{/events}}
</div>

