<h1>Events Minions</h1>
<br>
<div >
  {{#events}}
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <h2 class="text-primary">{{ title }}</h2>
        <p>{{ description }}</p>
        <p>{{ location}}</p>
        <p>{{id}}</p>
        <i onclick="myFunction(this)" class="fa fa-thumbs-up fa-2x text-info" ></i>
        
        <form action="/event" method="GET">
             <input type="hidden" id="id" name="id" value={{id}}>
             <input type="submit" class="btn btn-info "  value="Delete">
        </form>

        <a href="/editEvent" class="btn btn-info ">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
    </div>
  {{/events}}
</div>

